<mat-card>
    <mat-card-title>
        Novo Produto
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="product.name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [(ngModel)]="product.price">
        </mat-form-field>
    </form>

</mat-card>


<button mat-raised-button (click)="createProduct()" color="primary" class="button-ok">
    Adicionar produto
</button>

<button mat-raised-button (click)="cancel()" color="primary" class="button-cancel">
    Cancelar
</button>