/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.purple {
    color: rebeccapurple;
}

.v-middle {
    vertical-align: middle;
}

.msg-success {
    background-color: rgba(0, 241, 0, 0.61);
    color: #FFF;
}

.msg-error {
    background-color: rgba(255, 0, 0, 0.64);
    color: #FFF;
}